.player-controls {
    -fx-background-color: #1a191a;
    -fx-background-radius: 4;
}

.player-controls .button {
    -fx-padding: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-opacity: 0.54;
    -fx-background-color: #1a191a;
}

.player-controls .button:hover {
    -fx-opacity: 1.0;
}

/*声音*/

.player-controls .volume .track {
    -fx-background-color: rgb(199.5, 201, 204); /* 轨道颜色 */
}

.player-controls .volume  .thumb {
    -fx-background-color: #409EFF; /* 滑块颜色 */
}

.player-controls .position .track {
    -fx-background-color: rgb(199.5, 201, 204); /* 轨道颜色 */
}

.player-controls .position .thumb {
    -fx-background-color: #409EFF; /* 滑块颜色 */
}


.player-controls .volume .slider .thumb {
    -fx-pref-width: 11;
    -fx-pref-height: 11;
}

.player-controls .label.timer {
    -fx-text-fill: #969596;
}